Notes/
Lab3/coreutils-8.29/
Lab3/coreutils-8.29.tar.xz
Lab3/coreutils-8.29.tar.xz.sig
Lab3/mm
Lab3/gnu-keyring.gpg
Lab4/coreutils-with-bug/
Lab4/bp
Lab4/sfrobLab4/file
Lab5/sfrobu
Lab5/er
Lab5/ew
Lab5/ew2
Lab5/makeFrobs
Lab5/makeFrobs.c
Lab5/file3
Lab5/.#la2
Lab4/file
Lab4/sfrob
Lab5/sfrobu
Lab2/TESTS
Lab3/randline.py
coreutils-with-bug/
Lab4/coreutils-with-bug/
Lab4/bp
Lab4/sfrob
Lab4/file
Lab5/ew
Lab5/ew2
Lab5/file
Lab5/file2
Lab5/file3
Lab5/la2
Lab5/largeFile.txt
Lab5/makeFrobs
Lab5/makeLargeFile
Lab5/makeLargeFile.c
Lab5/sfrob
Lab5/sfrobu
Lab5/testFile2
Lab5/testFile.t
Lab5/tr2b
Lab5/tr2u
Lab6/srt
Lab6/srt-new
Lab6/readme.txt~
